html {
	font-size: 10pt;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 10px;
	background-color: rgb(237, 232, 231);
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

header, footer {
	color: black;
	clear: left;
	text-align: center;
	padding-bottom: 10px;
}

header {
	font-weight: bold;
	font-size: x-large;
	text-align: left;
}

.headerlogo {
	vertical-align: middle;
}

footer {
	font-weight: bold;
	font-size: small; 
}

article {
    padding: 1em;
    overflow: hidden;
    background-color: white;
	border: 2px solid none;
	border-radius: 5px;
}

nav {
	float: left;
	width: 220px;
    background-color: white;
	border-radius: 5px;
	margin-right: 10px;
	padding: 5px;
}

ul {
	margin: 0px;
	list-style-position: inside;
}

li {
	padding: 2px 2px;
}

li.menu {
	font-weight: bold;
}

.border {
	border: 2px solid silver;
	border-radius: 5px;
}

section {
	padding: 8px;
}

.onecolumns {
	width: 96%;
	display: inline-block;
	vertical-align: top;
}

.twocolumns {
	width: 48%;
	display: inline-block;
	vertical-align: top;
	margin:0 auto;
}

.threecolumns {
	width: 32%;
	display: inline-block;
	vertical-align: top;
}

.center {
	text-align: justify-all;
}

li.faq {
	font-weight: bold;
}

p.info {
	width: 50%;
}

span.faq {
	margin: 10px;
	width: 50%;
	display: inline-block;
}

div.appstore {
	text-align: center;
	float: right;
}

a.appstore {
	text-decoration: none;
}

img.appstore {
    display: block;
    margin: auto;
}

p.support {
    padding-left: 1em;
	margin: 0px;
}

img.promo {
}

img.screenshot {
	float: left;
	padding-right: 20px;
}

span.support {
	display: inline-block;
	padding: 15px;
	background-color: rgb(108, 108, 108);
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	margin-left: 50px;
	margin-top: 10px;
}

a.support:link, a.support:visited, a.support:hover, a.support:active {
	font-size: 12pt;
	font-weight: bold;	
	text-decoration: none;
	color: white;
}


/* iPhone 6/7 Portrait and Landscape */
@media screen and (max-width : 800px) { 

	nav {
        display: block;
        width: 97%;
        margin-bottom: 10px;
	}

    span.faq {
    	margin: 10px;
    	width: 80%;
    	display: inline-block;
    }

    img.promo {
    	width: 90%;
    }

	img.screenshot {
		float: left;
		padding-right: 10px;
		width: 80%;
	}

}
